/.idea/
!/models/landsat_8_b4_b3_b2/unet_model_opt_adam_lr_0.001_batch_16_epochs_20_filters_32_size_176_date_20220809
!/models/landsat_8_b7_b5_b2/unet_model_opt_adam_lr_0.001_batch_16_epochs_20_filters_32_size_176_date_20220925
!/models/sentinel_2_b4_b3_b2/unet_model_opt_adam_lr_0.001_batch_32_epochs_20_filters_16_size_176_date_20220810
!/models/sentinel_2_b12_b8_b2/unet_model_opt_adam_lr_0.001_batch_16_epochs_20_filters_32_size_144_date_20220923